TELEGRAM_BOT_TOKEN=0000000000:abcdefgh123213abcdefgh1232131231231
TELEGRAM_ADMIN_IDS=
PROTECTED_CONTAINERS=

### Only Needed for Build.

VERSION=v1.0
DOCKERHUB_PROJECT_NAME=myname/tlgram-bt
DOCKERHUB_PROJECT_BUILD=true
### GHCR with ghcr.io, for publish.sh
GHCR_PROJECT_NAME=ghcr.io/myname/tlgram-bt
GHCR_PROJECT_BUILD=true